/* nav menu */
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
.container {
    background-image: url("images/02.jpg");
    background-repeat: none;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    position: relative;
    box-shadow:inset 0 0 0 100vh rgba(0, 0, 0, 50%);
}

header{
    clear: both;
    overflow: auto;
}
.logo {
    display: block;
    float: left;
    margin-left: 15vw;
}
.menu {
    float: right;
    margin-right: 15vw;
}
.links {
    display: flex;
}
.link{
    list-style-type: none;
    margin: 0 1vw 0 1vw;
    padding: 0.1vw;

  }
a {
    text-decoration: none;
    color: #fff;
}
.link :hover{
    color: #e91e63;
    transition: 0.3s ease-in-out;
}

/* opening section */
.opening {
    text-align: center;
    margin: 20vw 0 20vw 0;
}
.opening h1{
    font-size: 2em;
}
.opening h1 span{
    color: #e91e63;
}
.opening p{
    font-size: 1em;
}

/* about us section */
#about-us{
    min-height: 30vh;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 70%;
    margin: auto;
}
.aboutus-info{
    flex: 1;
    padding: 30px;
}
.aboutus-info h2{
    font-size: 30px;
    color: #e91e63;
}
.aboutus-info p{
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.aboutus-image{
    flex: 1;
    text-align: center;
    padding: 30px;
}
.aboutus-image img{
    width: 280px;
}

/* Gallery */
#Gallery{
    min-height: 25vh;
    
    text-align: center;
    margin: auto;
    background-color: #eee;
}
.wrapper{
    max-width: 70%;
    text-align: center;
    margin: auto;
}
#Gallery h2{
    color: #e91e63;
    padding: 6vh;
}
.photos{
    display: flex;
    padding-bottom: 5vh;
}
.photos img{
    flex: 1;
    width: 200px;
    border: 10px solid #f6f6f6;
    margin: 5px;
}
